@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@font-face{
	font-family: Aleo;
	src: url(../fonts/Aleo-Font/Desktop/Aleo-Regular.otf);
	font-weight: 400;
}